# VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.
 
This package is published by Michael Sumerano.  It contains a single ZIP file
of OpenType and TrueType fonts published by 
[Nerd Fonts](https://www.nerdfonts.com/) and Ryan L McIntyre.

The calculated checksum is of the ZIP file downloaded from Nerd Fonts
[releases](https://github.com/ryanoasis/nerd-fonts/releases) on GitHub.
